# Directories
Intermediate/
Binaries/
.vs/
Saved/

# Files
*.user
Saved/Logs/HordeMode-backup-2019.01.20-14.56.36.log
Saved/Config/CrashReportClient/UE4CC-Windows-A5FD08F34E1161EBE684989E37D30A49/CrashReportClient.ini
Saved/Backup/SM_ExplosiveBarrel_2019-01-20-14-59-42.uasset
Saved/Backup/ML_Metal_Copper_2019-01-20-15-00-32.uasset
Saved/Backup/MagGun_MatB_2019-01-20-15-00-33.uasset
Saved/Backup/MagGun_MatA_2019-01-20-15-00-32.uasset
Saved/Backup/M_ExplosiveBarrelExploded_2019-01-20-14-59-41.uasset
Saved/Backup/M_ExplosiveBarrel_2019-01-20-14-59-41.uasset
Saved/Backup/BP_Weapon_Rifle_2019-01-20-14-57-39.uasset
Saved/Backup/BP_PlayerCharacter_2019-01-20-15-00-32.uasset
Saved/Backup/BP_ExplosiveBarrel_2019-01-20-15-00-32.uasset
Plugins/ItemPool/Source/ItemPool/Public/ItemPool.h
Plugins/ItemPool/Source/ItemPool/Private/ItemPool.cpp
Plugins/ItemPool/Source/ItemPool/ItemPool.Build.cs
Plugins/ItemPool/Resources/Icon128.png
Plugins/ItemPool/ItemPool.uplugin
New folder/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
New folder/WindowsNoEditor/HordeMode.exe
New folder/WindowsNoEditor/HordeMode/Content/Paks/HordeMode-WindowsNoEditor.pak
New folder/WindowsNoEditor/Manifest_DebugFiles_Win64.txt
Saved/Backup/BP_ExplosiveBarrel_2019-01-20-15-00-32.uasset
Saved/Backup/BP_PlayerCharacter_2019-01-20-15-00-32.uasset
Saved/Backup/BP_Weapon_Rifle_2019-01-20-14-57-39.uasset
Saved/Backup/M_ExplosiveBarrel_2019-01-20-14-59-41.uasset
Saved/Backup/M_ExplosiveBarrelExploded_2019-01-20-14-59-41.uasset
Saved/Backup/MagGun_MatA_2019-01-20-15-00-32.uasset
Saved/Backup/MagGun_MatB_2019-01-20-15-00-33.uasset
Saved/Backup/ML_Metal_Copper_2019-01-20-15-00-32.uasset
Saved/Backup/SM_ExplosiveBarrel_2019-01-20-14-59-42.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-A5FD08F34E1161EBE684989E37D30A49/CrashReportClient.ini
Saved/Logs/HordeMode-backup-2019.01.20-14.56.36.log
